@font-face {
    font-family: 'x04b03';
    src: url('static/fonts/04b03.ttf');
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#canvas { background: #121; image-rendering: pixelated; }
